<a class="btn btn-link" data-ng-click="cancel()">返 回</a>
<div class="food-detail">
  <p class="form-control">名称：<strong>{{food.name}}</strong></p>
  <p class="form-control">价格：{{food.price}}</p>
  <p class="form-control">描述：{{food.describe}}</p>
  <img class="food-image img-thumbnail" ng-src="{{food.picture}}">
</div>
