<div class="item add-btn" data-ng-click="foods_new()"><p><i class="fa fa-plus"></i></p></div>
<div class=" item item-food" om-show-button data-ng-repeat="food in foods" data-ng-click="index_food(food.food.food_id)">
<div class="image-container">
  <img om-image-crop ng-src='{{food.food.picture}}'>
  <div class="bottom-float">
    <p class="name col-md-8">{{food.food.name}}</p>
    <p class="price pull-right"><i class="fa fa-rmb"></i>{{food.food.price}}</p>
  </div>
</div>
<div class="content">
  <p class="describe">{{food.food.describe}}</p>
</div>
<div class="edit" data-ng-click="edit_food(food.food.food_id, $event); $event.stopPropagation();"><i class="fa fa-edit"></i></div>
<div class="delete" data-ng-click="delete_food(food.food.food_id); $event.stopPropagation();" data-target="#deleteConfirm"><i class="fa fa-trash-o"></i></div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <p class="close" data-dismiss="modal" aria-hidden="true">&times;</p>
    </div>
    <div class="modal-body">
      <p>你即将删除本菜品，删除后不可恢复</p>
      <p>确定删除？</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
      <button id="ok" type="button" class="btn btn-primary">确 定</button>
    </div>
  </div>
</div>
</div>